/* CSS3滚动条 */
::selection {
    background: #444;
    color: white;
    text-shadow: none;
}

::-webkit-scrollbar-track-piece {
    background-color: #EEE;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background: #F60;
    border-radius: 50px;
    cursor: pointer;
    border: 1px #F30 solid;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #F30;
        cursor: pointer;
    }

* {
    margin: 0;
    padding: 0;
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
}

body {
    font-family: "微软雅黑";
    font-size: 14px;
    color: #333;
    background: #f6f6f6;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td form {
    margin: 0;
    padding: 0;
    _background-image: url(about:blank);
    _background-attachment: fixed;
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
        color: #F60;
    }

.fixed-top {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.absolute_T {
    position: absolute;
    width: 100%;
    z-index: 99;
}

.ZindexT {
    z-index: 999;
}

.ZindexZ {
    z-index: 99;
}

.ZindexB {
    z-index: 9;
}

.Container {
    width: 1000px;
    margin: 0 auto;
}

.Left {
    float: left;
}

.Right {
    float: right;
}

.Clear {
    clear: both;
}

.Margin_T30 {
    margin-top: 30px;
}

input, button, textarea, select {
    outline: none;
    resize: none;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #333;
}

.navbarIE {
    background: #FFF;
    border-bottom: 1px #CCC solid;
    height: 47px;
    line-height: 47px;
}

    .navbarIE a {
        padding: 0 15px;
    }

    .navbarIE b {
        font-weight: normal;
        padding-left: 15px;
        line-height: 47px;
        display: inline-block;
    }

header .navbar {
    background: url(/images/Top_bg.png) repeat-x;
    height: 48px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #CCC;
}

header.active .navbar {
    background: rgba(255,255,255,.9);
    height: 48px;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    color: #999;
}

    header.active .navbar a {
        color: #333;
    }

        header.active .navbar a:hover {
            color: #F60;
        }

    header.active .navbar b {
        color: #333;
    }

header .navbar a {
    color: #FFF;
}

header .navbar #T_Class a {
    color: #333;
}

header .navbar b {
    color: #FFF;
}

header .navbar a:hover {
    color: #FF0;
}

.navbar a {
    padding: 0 15px;
    line-height: 48px;
    display: inline-block;
}

.navbar b {
    font-weight: normal;
    padding-left: 15px;
    line-height: 48px;
    display: inline-block;
}

#T_Class {
    visibility: hidden;
    margin: -2px 0 0 -15px;
    *margin: 33px 0 0 -70px;
    position: absolute;
    z-index: 990;
    line-height: normal;
}

    #T_Class strong {
        margin: 0;
        width: 17px;
        height: 15px;
        *height: 9px;
        display: block;
        padding-left: 20px;
    }

    #T_Class ul {
        background: #FFF;
        margin: 0;
        padding: 5px 0;
        width: 400px;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    }

        #T_Class ul li {
            line-height: 23px;
            border-bottom: 1px #DDD dashed;
            padding: 8px 20px;
        }

            #T_Class ul li span {
                line-height: 23px;
                padding: 0 15px;
                color: #CCC;
            }

            #T_Class ul li a {
                line-height: 23px;
                padding: 0;
            }

            #T_Class ul li p {
                font-weight: bold;
            }

.navbarM {
    background: #fff;
    height: 48px;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    color: #999;
    line-height: 48px;
}

    .navbarM a {
        padding: 0 15px;
    }

    .navbarM b {
        font-weight: normal;
        padding-left: 15px;
        line-height: 48px;
        display: inline-block;
        color: #333;
    }


.Top_divM {
    background: url(/images/Top_AdM.jpg) no-repeat center;
    height: 120px;
}

    .Top_divM img {
        float: left;
        margin-top: 25px;
    }

    .Top_divM .SearchM {
        box-sizing: border-box;
        width: 520px;
        border-radius: 5px;
        background: rgba(0,0,0,0.15);
        height: 60px;
        margin-top: 30px;
        padding: 4px;
        float: right;
    }


        .Top_divM .SearchM .Class {
            box-sizing: border-box;
            width: 80px;
            background: #f5f5f5;
            float: left;
            border-right: 1px #e9e9e9 solid;
            line-height: 52px;
            font-size: 16px;
            padding-left: 15px;
            padding-right: 10px;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            cursor: pointer;
        }

            .Top_divM .SearchM .Class:hover {
                background: #f1f1f1;
            }

            .Top_divM .SearchM .Class i {
                font-size: 12px;
                color: #999;
                float: right;
            }

            .Top_divM .SearchM .Class b {
                font-weight: normal;
                float: left;
            }

        .Top_divM .SearchM input {
            box-sizing: border-box;
            float: left;
            border: none;
            height: 52px;
            font-size: 16px;
            padding-left: 15px;
            width: 309px;
        }

        .Top_divM .SearchM button {
            box-sizing: border-box;
            float: left;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            height: 52px;
            background: #F60;
            color: #FFF;
            padding: 0 13px;
            border: none;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
        }

            .Top_divM .SearchM button:hover {
                background: #F30;
            }

            .Top_divM .SearchM button i {
                font-size: 24px;
                font-weight: normal;
            }

.Login {
    text-align: center;
    margin-top: 180px;
}

.Search {
    box-sizing: border-box;
    width: 660px;
    border-radius: 5px;
    background: rgba(0,0,0,0.15);
    height: 60px;
    left: 50%;
    margin-left: -330px;
    margin-top: 280px;
    padding: 4px;
}

    .Search .Class {
        box-sizing: border-box;
        width: 80px;
        background: #f5f5f5;
        float: left;
        border-right: 1px #e9e9e9 solid;
        height: 52px;
        line-height: 52px;
        font-size: 16px;
        padding-left: 15px;
        padding-right: 10px;
        *padding-left: 10px;
        *padding-right: 1px;
        *width: 60px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        cursor: pointer;
    }

        .Search .Class:hover {
            background: #f1f1f1;
        }

        .Search .Class b {
            font-weight: normal;
            float: left;
        }

        .Search .Class i {
            color: #999;
            float: right;
        }

    .Search input {
        box-sizing: border-box;
        float: left;
        border: none;
        height: 52px;
        line-height: 52px;
        font-size: 16px;
        padding-left: 15px;
        width: 449px;
        *width: 400px;
        *height: 49px;
        *line-height: 49px;
    }

    .Search button {
        box-sizing: border-box;
        float: left;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        height: 52px;
        background: #F60;
        color: #FFF;
        padding: 0 15px;
        *padding: 0 7px;
        border: none;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    }

        .Search button:hover {
            background: #F30;
        }

        .Search button i {
            font-size: 24px;
            font-weight: normal;
        }

#Claa_S {
    visibility: hidden;
    margin: 48px 0 0 -15px;
    *margin: 48px 0 0 -42px;
    position: absolute;
    z-index: 990;
    background: #f1f1f1;
    width: 80px;
    *width: 73px;
}

    #Claa_S ul li {
        padding-left: 10px;
    }

        #Claa_S ul li:hover {
            background: #f9f9f9;
        }

.Index_Top {
    background: #FFF;
    border-bottom: 1px #dfdfdf solid;
    padding: 30px 0;
    text-align: center;
    overflow: hidden;
}

    .Index_Top ul {
        margin-top: 20px;
        overflow: hidden;
    }

        .Index_Top ul li {
            text-align: center;
            width: 9.09%;
            float: left;
        }

            .Index_Top ul li i {
                width: 40px;
                height: 40px;
                display: block;
                margin: 0 auto 5px auto;
            }

            .Index_Top ul li a {
                color: #888;
            }

                .Index_Top ul li a:hover {
                    color: #F60;
                }

.Ico1 {
    background: url(/images/Class_Ico.png) no-repeat 0 0;
}

.Ico2 {
    background: url(/images/Class_Ico.png) no-repeat 0 -40px;
}

.Ico3 {
    background: url(/images/Class_Ico.png) no-repeat 0 -80px;
}

.Ico4 {
    background: url(/images/Class_Ico.png) no-repeat 0 -120px;
}

.Ico5 {
    background: url(/images/Class_Ico.png) no-repeat 0 -160px;
}

.Ico6 {
    background: url(/images/Class_Ico.png) no-repeat 0 -200px;
}

.Ico7 {
    background: url(/images/Class_Ico.png) no-repeat 0 -240px;
}

.Ico8 {
    background: url(/images/Class_Ico.png) no-repeat 0 -280px;
}

.Ico9 {
    background: url(/images/Class_Ico.png) no-repeat 0 -320px;
}

.Ico10 {
    background: url(/images/Class_Ico.png) no-repeat 0 -360px;
}

.Ico11 {
    background: url(/images/Class_Ico.png) no-repeat 0 -400px;
}

.Index_Hot {
    padding: 30px 0;
    text-align: center;
    overflow: hidden;
}

.Index_List ul li {
    padding: 10px;
    float: left;
    display: block;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    cursor: pointer;
}

    .Index_List ul li p {
        overflow: hidden;
        width: 230px;
        height: 160px;
    }

    .Index_List ul li img {
        display: block;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        width: 230px;
        height: 160px;
    }

    .Index_List ul li a {
        display: block;
        background: #FFF;
        padding: 8px;
    }

    .Index_List ul li:hover {
        background: #FFF;
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
    }

        .Index_List ul li:hover img {
            -webkit-transform: scale(1.1,1.1);
            -moz-transform: scale(1.1,1.1);
            -transform: scale(1.1,1.1);
        }

        .Index_List ul li:hover span {
            display: block;
            z-index: 1;
        }

    .Index_List ul li span {
        position: absolute;
        padding: 5px 3px;
        display: none;
    }

        .Index_List ul li span button {
            border: none;
            background: #888;
            background: rgba(0,0,0,0.3);
            color: #FFF;
            padding: 4px 8px;
            margin: 0 2px;
            transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            font-size: 12px;
            cursor: pointer;
        }

            .Index_List ul li span button:hover {
                background: #F60;
            }

.Index_Button {
    text-align: center;
    padding: 30px 0;
}

    .Index_Button button {
        border-radius: 5px;
        font-size: 16px;
        color: #FFF;
        background: #F60;
        padding: 15px 80px;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    }

        .Index_Button button:hover {
            background: #F30;
        }

#kinMaxShow {
    height: 500px;
    overflow: hidden;
}

.Index_Foot {
    background: #ebebed;
    padding: 20px 0;
    overflow: hidden;
}

    .Index_Foot span {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 8px;
        display: block;
    }

    .Index_Foot ul {
        float: left;
        width: 820px;
    }

        .Index_Foot ul li {
            float: left;
            margin-right: 50px;
            padding: 2px 0;
        }

            .Index_Foot ul li a {
                font-size: 12px;
            }

    .Index_Foot img {
        float: right;
        width: 132px;
        height: 132px;
    }

.Index_FootB {
    background: #d8d8dc;
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
    line-height: 23px;
}

.Page {
    padding: 20px 0 30px 0;
    text-align: center;
}

    .Page ul li {
        display: inline-block;
    }

        .Page ul li a {
            padding: 8px 15px;
            display: inline-block;
            ;
            border: 1px #EEE solid;
            background: #FFF;
            border-radius: 3px;
        }

            .Page ul li a:hover {
                border: 1px #F60 solid;
                background: #fff7f2;
            }

        .Page ul li.hover a {
            background: #F60;
            color: #FFF;
            border: 1px #F30 solid;
            font-weight: bold;
        }

.Top_Class {
    padding: 30px 0;
    text-align: center;
}

    .Top_Class ul li {
        display: inline-block;
        padding: 10px 30px;
        cursor: pointer;
    }

        .Top_Class ul li span {
            font-size: 12px;
            color: #999;
            padding-left: 5px;
        }

        .Top_Class ul li.hover {
            background: #FFF;
            border: 1px #F60 solid;
            border-radius: 50px;
        }

            .Top_Class ul li.hover a {
                font-weight: bold;
                color: #F60;
            }

/*.View {
    background: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    margin: 30px auto 0 auto;
}

    .View .Tatle {
        border-bottom: 1px #DDD solid;
        padding: 10px 20px;
        overflow: hidden;
        font-weight: normal;
    }

        .View .Tatle b {
            font-size: 24px;
            font-weight: normal;
            display: block;
            padding-bottom: 10px;
        }

        .View .Tatle span {
            display: block;
            color: #999;
            font-size: 12px;
        }

            .View .Tatle span a {
                color: #F60;
                padding-right: 10px;
                font-size: 12px;
            }

        .View .Tatle .Right {
            display: block;
            float: right;
            margin-top: 4px;
            line-height: 52px;
            font-size: 16px;
            font-weight: normal;
        }

        .View .Tatle img {
            float: left;
            height: 52px;
            width: 52px;
            margin-right: 8px;
            border-radius: 48px;
        }

    .View .V_Img {
        text-align: center;
        padding: 50px 0;
    }

    .View h5 {
        border-top: 1px #DDD solid;
        background: #f9f9f9;
        padding: 20px 0;
        text-align: center;
    }

        .View h5 button {
            border: none;
            background: #ff6400;
            color: #FFF;
            border-bottom: 3px #c44e00 solid;
            padding: 8px 30px;
            margin: 0 15px;
            border-radius: 3px;
            cursor: pointer;
        }

            .View h5 button:hover {
                background: #F30;
            }*/
.View {
    margin: 30px auto 0 auto;
}

    .View .Tatle {
        border-bottom: 1px #DDD solid;
        padding: 10px 20px;
        overflow: hidden;
        font-weight: normal;
    }

        .View .Tatle b {
            font-size: 24px;
            font-weight: normal;
            display: block;
            padding-bottom: 10px;
        }

        .View .Tatle span {
            display: block;
            color: #999;
            font-size: 12px;
        }

            .View .Tatle span a {
                color: #F60;
                padding-right: 10px;
                font-size: 12px;
            }

    .View .V_Img {
        text-align: center;
        padding: 50px 0;
    }

    .View .View_L {
        float: left;
        width: 780px;
        background: #FFF;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        overflow: hidden;
    }

    .View .View_R {
        float: right;
        width: 200px;
        background: #FFF;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        overflow: hidden;
        text-align: center;
        font-size: 16px;
    }

        .View .View_R img {
            height: 72px;
            width: 72px;
            margin: 10px auto;
            border-radius: 72px;
            display: block;
        }
        /*.View .View_R h5{border-top:1px #DDD solid;padding:10px 0; text-align: center; margin-top: 10px; background: #f9f9f9;}*/
        .View .View_R h5 {
            padding-bottom: 10px;
            text-align: center;
            margin-top: 10px;
            background: #f9f9f9;
        }

            .View .View_R h5 button {
                border: none;
                background: #ff6400;
                color: #FFF;
                border-bottom: 3px #c44e00 solid;
                padding: 8px 10px;
                margin: 6px 15px;
                border-radius: 3px;
                cursor: pointer;
                width: 160px;
            }

                .View .View_R h5 button:hover {
                    background: #F30;
                }

.V_Ad {
    margin: 30px auto;
}

#D_Step span {
    display: block;
    font-size: 12px;
    color: #666;
    border-bottom: 1px #CCC dashed;
    height: 42px;
    line-height: 42px;
}

    #D_Step span b {
        font-size: 16px;
        color: #F60;
    }

#D_Step .Class {
    overflow: hidden;
    background: #FFF;
    padding-bottom: 10px;
}

    #D_Step .Class dt {
        padding: 5px 5px 5px 0;
        float: left;
        color: #777;
        font-weight: bold;
        margin: 3px;
    }

    #D_Step .Class dd {
        border: 1px #CCC solid;
        border-radius: 3px;
        float: left;
        margin: 3px;
        padding: 5px 15px;
        cursor: pointer;
    }

        #D_Step .Class dd:hover {
            background: #f9f9f9;
        }

        #D_Step .Class dd.hover {
            border: 1px #F60 solid;
            color: #F60;
        }

#D_Step ul {
    overflow-y: auto;
    overflow-x: hidden;
}

    #D_Step ul li {
        padding: 10px;
        float: left;
        cursor: pointer;
    }

        #D_Step ul li:hover {
            color: #F60;
        }

        #D_Step ul li.hover {
            color: #F60;
        }

.upload_L {
    background: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    margin: 30px auto;
    text-align: center;
}

    .upload_L ul {
        padding: 150px 0;
    }

        .upload_L ul li {
            display: inline-block;
            background: #f9f9f9;
            border: 1px #e5e5e5 solid;
            padding: 100px 70px;
            font-size: 24px;
            color: #707070;
            font-weight: 100;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
        }

            .upload_L ul li:hover {
                border: 1px #F60 solid;
                background: #fffaf7;
                box-shadow: 0 0 5px rgba(255,100,0,0.8);
                color: #F60;
            }

            .upload_L ul li i {
                display: block;
                font-size: 82px;
                margin-bottom: 10px;
            }

        .upload_L ul span {
            width: 60px;
            display: inline-block;
        }

.upload_List {
    background: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    margin: 30px auto;
    padding: 60px;
    overflow: hidden;
}

    .upload_List ul {
        overflow: hidden;
    }

    .upload_List b {
        display: inline-block;
        font-size: 16px;
        font-weight: normal;
    }

    .upload_List ._span {
        color: #999;
        display: block;
        overflow: hidden;
        padding: 6px 0;
    }

    .upload_List ul li {
        margin-bottom: 15px;
        overflow: hidden;
    }

        .upload_List ul li b {
            float: left;
            color: #333;
        }

        .upload_List ul li i {
            float: right;
            font-style: normal;
            font-size: 12px;
            line-height: 24px;
        }

        .upload_List ul li input {
            display: block;
            border: 1px #b8b8b8 solid;
            border-radius: 3px;
            padding: 0 10px;
            width: 400px;
            height: 40px;
        }

            .upload_List ul li input:focus {
                background: #fffaf7;
                border: 1px #F60 solid;
            }

            .upload_List ul li input.inp {
                width: 354px;
                border-right: none;
                float: left;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

        .upload_List ul li strong {
            float: right;
            background: #f8f8f8;
            height: 40px;
            width: 46px;
            border: 1px #b8b8b8 solid;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            line-height: 37px;
            text-align: center;
            font-size: 24px;
            cursor: pointer;
            color: #8e8e8e;
        }

            .upload_List ul li strong:hover {
                background: #fffaf7;
                color: #F60;
            }

    .upload_List ul ._div {
        display: inline-block;
        min-width: 230px;
        min-height: 160px;
    }

    .upload_List ul div i {
        display: block;
        font-size: 32px;
        margin-top: 50px;
        margin-bottom: 5px;
    }

    .upload_List ul div.Up {
        border: 1px #b8b8b8 dashed;
        border-radius: 5px;
        text-align: center;
        font-size: 18px;
    }

    .upload_List ul.All {
        margin-top: 20px;
    }

        .upload_List ul.All ._div {
            border: 2px #b8b8b8 dashed;
            background: #f9f9f9;
            width: 98%;
            padding: 10px;
        }

        .upload_List ul.All div button {
            border: 1px #b8b8b8 solid;
            padding: 5px 7px;
            background: #FFF;
            border-radius: 3px;
            cursor: pointer;
            font-weight: bold;
        }

            .upload_List ul.All div button:hover {
                background: #fffaf7;
                border: 1px #F60 solid;
                color: #F60;
            }

        .upload_List ul.All div strong {
            font-weight: normal;
            padding-left: 15px;
            color: #999;
        }

            .upload_List ul.All div strong font {
                color: #F60;
            }

        .upload_List ul.All div dl {
            margin-top: 10px;
        }

            .upload_List ul.All div dl dd {
                float: left;
                width: 20%;
                padding: 8px 0;
            }

                .upload_List ul.All div dl dd em {
                    word-wrap: normal;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 85%;
                    display: inline-block;
                    float: left;
                    font-style: normal;
                }

                .upload_List ul.All div dl dd a {
                    color: #999;
                    float: left;
                }

                    .upload_List ul.All div dl dd a:hover {
                        color: #F60;
                    }

    .upload_List .But {
        background: #F60;
        color: #FFF;
        float: right;
        border: none;
        border-radius: 5px;
        padding: 12px 35px;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    }

        .upload_List .But:hover {
            background: #F30;
        }

#Class_L ul li {
    line-height: 30px;
    border-bottom: 1px #DDD dashed;
    padding: 10px 20px;
}

    #Class_L ul li span {
        line-height: 30px;
        padding: 0 15px;
        color: #CCC;
    }

    #Class_L ul li a {
        line-height: 30px;
        padding: 0;
        font-size: 16px;
    }

#ulclassify li .hover {
    color: #f60;
}


#Class_L ul li p {
    font-weight: bold;
}

.Login_L {
    background: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    margin: 30px auto;
    overflow: hidden;
}

#main0 dd {
    DISPLAY: none;
}

    #main0 dd.block {
        DISPLAY: block;
    }

.Mun {
    height: 50px;
    line-height: 50px;
    background: #fbfbfb;
    border-bottom: 1px #f4f4f4 solid;
}

    .Mun li {
        float: left;
        border-right: 1px #f4f4f4 solid;
        font-size: 16px;
        padding: 0 30px;
        cursor: pointer;
    }

        .Mun li.hover {
            background: #FFF;
            font-weight: bold;
            border-top: 3px #F60 solid;
            line-height: 47px;
        }

.Mun_V {
    padding: 30px 0 70px 100px;
}

    .Mun_V h1 {
        font-size: 16px;
        font-weight: normal;
        padding-bottom: 20px;
        color: #888;
    }

    .Mun_V ul li {
        padding: 10px 0;
        overflow: hidden;
        font-size: 16px;
    }

        .Mun_V ul li label {
            font-size: 14px;
            float: left;
        }

        .Mun_V ul li a {
            color: #F60;
        }

            .Mun_V ul li a.Oth {
                float: left;
                color: #F60;
                margin-left: 230px;
                font-size: 14px;
            }

        .Mun_V ul li span {
            display: block;
        }

        .Mun_V ul li .inp {
            display: block;
            height: 40px;
            padding: 0 10px;
            border: 1px #b8b8b8 solid;
            border-radius: 3px;
            margin-top: 8px;
            float: left;
            width: 300px;
        }

        .Mun_V ul li input {
            color: #888;
        }

        .Mun_V ul li .hover {
            background: #fffaf7;
            border: 1px #F60 solid;
            color: #F60;
        }

        .Mun_V ul li .inp:focus {
            background: #fffaf7;
            border: 1px #F60 solid;
        }

        .Mun_V ul li i {
            float: left;
            font-style: normal;
            color: #F60;
            font-size: 14px;
            line-height: 40px;
            margin-top: 8px;
            display: inline-block;
            padding-left: 10px;
        }

        .Mun_V ul li button {
            background: #F60;
            color: #FFF;
            border: none;
            border-radius: 5px;
            padding: 12px 35px;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
        }

            .Mun_V ul li button:hover {
                background: #F30;
            }

    .Mun_V ul.Pw_Main {
        width: 450px;
        text-align: center;
        margin-left: 160px;
    }

    .Mun_V ul h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .Mun_V ul.Pw_Main li {
        line-height: 30px;
    }

        .Mun_V ul.Pw_Main li font {
            color: #F60;
        }

        .Mun_V ul.Pw_Main li button {
            margin-top: 2px;
        }

    .Mun_V ul.Pw_Main p {
        text-align: left;
        font-size: 12px;
        color: #666;
        line-height: 23px;
        padding-top: 10px;
    }

/*会员个人中心页面*/
.body_Bg {
    background: #FFF;
}

.User_TM {
    background: url(/images/user_T.jpg) no-repeat center;
    height: 120px;
}

    .User_TM .SearchM {
        box-sizing: border-box;
        width: 500px;
        border-radius: 3px;
        background: rgba(0,0,0,0.15);
        height: 46px;
        margin-top: 40px;
        padding: 3px;
        float: right;
    }

        .User_TM .SearchM .Class {
            box-sizing: border-box;
            width: 80px;
            background: #f5f5f5;
            float: left;
            border-right: 1px #e9e9e9 solid;
            line-height: 40px;
            font-size: 12px;
            padding-left: 8px;
            padding-right: 6px;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            cursor: pointer;
        }

            .User_TM .SearchM .Class:hover {
                background: #f1f1f1;
            }

            .User_TM .SearchM .Class i {
                font-size: 12px;
                color: #999;
                float: right;
            }

            .User_TM .SearchM .Class b {
                font-weight: normal;
                float: left;
            }

        .User_TM .SearchM input {
            box-sizing: border-box;
            float: left;
            border: none;
            height: 40px;
            font-size: 12px;
            padding-left: 10px;
            width: 315px;
        }

        .User_TM .SearchM button {
            box-sizing: border-box;
            float: left;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            height: 40px;
            background: #F60;
            color: #FFF;
            padding: 0 10px;
            border: none;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
        }

            .User_TM .SearchM button:hover {
                background: #F30;
            }

            .User_TM .SearchM button i {
                font-size: 18px;
                font-weight: normal;
                float: left;
            }



    .User_TM .User_img {
        float: left;
        line-height: 72px;
        font-size: 26px;
        margin-top: 45px;
        position: absolute;
    }

        .User_TM .User_img img {
            width: 100px;
            height: 100px;
            border-radius: 100px;
            border: 6px #FFF solid;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            float: left;
            margin-right: 15px;
        }

.User_Maun {
    background: #f4f4f4;
    border-bottom: 1px #dcdde0 solid;
    height: 50px;
    line-height: 50px;
}

    .User_Maun .Maunx {
        padding-left: 50px;
        color: #CCC;
    }

        .User_Maun .Maunx a {
            display: inline-block;
            font-size: 16px;
            padding: 0 30px;
            height: 58px;
        }

            .User_Maun .Maunx a.hover {
                background: url(/images/user_li.png) no-repeat center bottom;
                color: #F60;
            }

.User_List {
    margin: 30px auto;
}

    .User_List table tr td {
        padding: 10px;
        border-bottom: 1px #F4f4f4 solid;
    }

        .User_List table tr td.Top {
            background: #f4f4f4;
        }

        .User_List table tr td img {
            width: 85px;
            height: 50px;
            /*height: 64px;*/
        }

        .User_List table tr td a {
            padding: 0 10px;
            color: #0000ff;
        }

            .User_List table tr td a:hover {
                color: #001280;
            }

            .User_List table tr td a.del {
                color: #F60;
            }

        .User_List table tr td.Top ._button {
            min-height: 26px;
            min-width: 50px;
            background: #F60;
            color: #FFF;
            border: none;
            cursor: pointer;
            padding: 5px 10px;
            margin-left: 15px;
            border-radius: 3px;
            transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
        }

            .User_List table tr td.Top ._button:hover {
                background: #F30;
            }

    .User_List .Page_U {
    }

        .User_List .Page_U a {
            color: #333;
            padding: 0;
            background: #FFF;
            padding: 5px 10px;
            margin: 0 2px;
            border-radius: 3px;
            transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            border: 1px #FFF solid;
        }

            .User_List .Page_U a:hover {
                background: #fff7f2;
                border: 1px #F60 solid;
            }

            .User_List .Page_U a.hover {
                background: #F60;
                color: #FFF;
                border: 1px #F60 solid;
            }

.User_My {
    margin: 30px auto;
}

    .User_My h1 {
        border-left: 4px #F60 solid;
        font-size: 16px;
        padding-left: 10px;
        margin: 20px 0;
        font-weight: normal;
    }

    .User_My ul {
        margin-left: 30px;
    }

        .User_My ul li {
            padding: 6px 0;
        }

            .User_My ul li button {
                margin-left: 40px;
                background: #edeeef;
                border: none;
                padding: 4px 10px;
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
            }

                .User_My ul li button:hover {
                    background: #F60;
                    color: #FFF;
                }

    .User_My div {
        margin-left: 30px;
        overflow: hidden;
    }

        .User_My div span {
            width: 100px;
            float: left;
        }

        .User_My div p {
            width: 600px;
            float: left;
            color: #999;
        }

        .User_My div button {
            margin-left: 40px;
            background: #edeeef;
            border: none;
            padding: 4px 10px;
            border-radius: 3px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
        }

            .User_My div button:hover {
                background: #F60;
                color: #FFF;
            }

.User_Windows ul li {
    padding: 2px 0;
    overflow: hidden;
}

.User_Windows ul {
    padding: 0 10px;
}

    .User_Windows ul li span {
        display: block;
        padding: 5px 0;
    }

    .User_Windows ul li input, .User_Windows ul li select {
        display: block;
        border: 1px #b8b8b8 solid;
        border-radius: 3px;
        padding: 0 8px;
        width: 300px;
        height: 36px;
    }

        .User_Windows ul li input:focus {
            background: #fffaf7;
            border: 1px #F60 solid;
        }

        .User_Windows ul li input.Inp {
            float: left;
            width: 140px;
        }

    .User_Windows ul li button {
        width: 100px;
        margin-left: 10px;
        background: #F60;
        color: #FFF;
        border: none;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 3px;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        height: 36px;
    }

        .User_Windows ul li button:hover {
            background: #F30;
        }

.Claa_Su {
    visibility: hidden;
    margin: 39px 0 0 -8px;
    *margin: 48px 0 0 -40px;
    position: absolute;
    z-index: 990;
    background: #f1f1f1;
    width: 80px;
    *width: 73px;
}

    .Claa_Su ul li {
        padding-left: 10px;
    }

        .Claa_Su ul li:hover {
            background: #f9f9f9;
        }

._button {
    background: #edeeef;
    border: none;
    padding: 4px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    text-align: left;
}

    ._button:hover {
        background: #F60;
        color: #FFF;
    }

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

/*.laydate_ym {
    box-sizing:unset;
}*/
