<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnString" connectionString="server=.;database=3DPart;Persist Security Info=False;uid=sa;pwd=123" />

    <!--<add name="ConnString" connectionString="Microsoft.Jet.OLEDB.4.0;Data Source=DBDemo.mdb;Jet OLEDB:Database Password=123" />
    <add name="ConnString" connectionString="server=.;database=sitegroup;Persist Security Info=False;Integrated  Security=SSPI" />-->

  </connectionStrings>
  <appSettings>
    <add key="DataProvider" value="SqlServer"  />

    <!--<add key="DataProvider" value="OleDb"  />
    <add key="DataProvider" value="Odbc"  />-->
  </appSettings>
</configuration>